@charset "UTF-8";
body{
    background-color:#68e4f265;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
 color: #306A70;
}
#principal {
    color: black;
    text-align: center;
    background-color: #68e4f2c3;
}
h2 {
    color: #19ACBD;

}
.basico{
    color: green;

}

.intermediario{
    color: blue;
    

}
.avancado{
   color: red;

}
.destaque {
    color: rgba(32, 146, 146, 0.833);
}
